
@tailwind base;

@tailwind components;

@tailwind utilities;


html, body {
	margin: 0;
	background-color: #cccccc;
}

canvas {
	touch-action: none;
}

#root {
	position: absolute;
	left: 0;
	top: 0;
}
